
@{
    ViewData["Title"] = "Haqqında";
}

<!-- NewDetails start -->
<section id="NewDetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h3 class=" my-3">Lorem ipsum dolor sit amet</h3>
            </div>
            <div class="col-lg-6 col-12">
                <div class="text-right  my-3">
                    <span class="New-View all">Baxiş :1222 </span>|<br class="d-lg-none">
                    <span class="ml-2 New-Author all">Muəllif : Samir Dadash-zade </span>|<br class="d-lg-none">
                    <span class="ml-2 New-Date all">21.12.2019</span> |
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="img">
                    <img src="~/Images/News/download.jfif" alt="" class="img-fluid w-100 ">
                </div>
            </div>
            <div class="col-12">
                <p class="py-3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- NewDetails end -->
<script src="~/src/header.js"></script>