@model News

<h2>XəbərYarat</h2>

    <div class="container" >
        @if (TempData["CreateNew"] != null)
        {
            <h3>Təbriklər..Xəbər sayta yerləşdirildi..</h3>
        }

        <form method="post" enctype="multipart/form-data" style="margin-top:100px">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Photo" style="color:#9124a3;font-weight:bold"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" style="color:#9124a3;font-weight:bold"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Info" style="color:#9124a3;font-weight:bold"></label>
                    <textarea asp-for="Info" class="form-control" ></textarea>
                    <span asp-validation-for="Info"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" style="color:#9124a3;font-weight:bold"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author"></span>
                </div>

                <input type="submit" value="Yarat" class="btn btn-success btn-block" />
        </form>
</div>




