@model ViewModel
@{
    ViewData["Title"] = "Istifadəçilər";
}

<!-- UserOrAgents start -->
<section id="Agent">
    <div class="container">
        <div class="row head">
            <div class="col-md-8 col-12 ">
                <i class="far fa-handshake mr-2 color-blue"></i> Istifadəçilər
            </div>
            <div class="col-md-4 col-12  d-md-flex justify-content-end">
            </div>
        </div>
        <div class="row Advertisement-place justify-content-center">
            @foreach (var item in Model.Users.OrderByDescending(x => x.RegisterDate).Take(8))
            {
                if (item.İsAgent == true)
                {
                    <a asp-area="Admin" asp-controller="Istifadəçilər" asp-action="Haqqinda" asp-route-id="@item.Id" class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3" data-aos="fade-up">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="img">
                                    @if (item.AgencyImageUrl == null)
                                    {
                                        <img src="~/images/Agent/default-logo.png" class="img-fluid w-100">
                                    }
                                    else
                                    {
                                        <img src="~/images/Agent/@item.AgencyImageUrl" class="img-fluid w-100">
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="about-agent" >
                                    <h6 style="font-weight:800">@item.Firstname emlak</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a  asp-area="Admin" asp-controller="Istifadəçilər" asp-action="Haqqinda" asp-route-id="@item.Id" class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3" data-aos="fade-up">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="img">
                                    @if (item.UserImageUrl == null)
                                    {
                                        <img src="~/images/Agent/default-logo.png" class="img-fluid w-100">
                                    }
                                    else
                                    {
                                        <img src="~/images/profile/@item.UserImageUrl" class="img-fluid w-100">
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="about-agent">
                                    <h6  style="font-weight:800">@item.Firstname</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>
<!-- UserOrAgents end -->
