@{
    ViewData["Title"] = "DüzəlişEt";
}

<section id="advertisement-details">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Dəyişiklik etdikden sonra, sondaki <a href="#input" class="bold ">Dəyiş</a> butonuna basin</h4>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col-lg-3 col-6 ">
                <div class="topAdDetails mt-1">
                    <i class="far fa-eye mr-2"></i> : 20
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="topAdDetails mt-1">
                    <i class="far fa-calendar-alt mr-2"></i>: 21.12.2019
                </div>
            </div>
            <div class="col-lg-3 col-6 ">
                <a href="#" class="d-block topAdDetails mt-1">
                    <i class="fas fa-flag-checkered mr-2"></i>Şikayət et
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <a href="#" class=" d-block topAdDetails mt-1">
                    <i class="far fa-heart mr-2"></i>Seçilmiş et
                </a>
            </div>
        </div>

        <div class="row my-2 ">
            <div class="col-12 validation-error">
                <i class="fas fa-exclamation-triangle mr-2"></i>Daxil etdiyiniz sifre ve ya email sehfdir
            </div>
            <div class="col-lg-6 col-12 d-none d-lg-block ">
                <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 area-big-photo">
            </div>
            <div class="col-lg-6 col-12 d-none d-lg-block">
                <div class="row small-images-slider">
                    <!-- if(count<21  col-3nen yiq) -->
                    <!-- if(count>21 col-2) -->
                    <div class="col-xl-3 col-4 mt-1 ">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg"
                             class="img-fluid w-100 img-h position-relative" data-id="1">
                        <i class="fas fa-window-close fa-2x close-img "></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img ">Əsas şəkil et</a>

                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h"
                             data-id="2">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>

                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Agent/jobs_image.jpg" class=" img-fluid w-100 img-h" data-id="10">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>

                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h"
                             data-id="3">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>

                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h"
                             data-id="4">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>

                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h"
                             data-id="5">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>
                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h"
                             data-id="6">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>
                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h"
                             data-id="8">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>
                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h"
                             data-id="7">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img ">Əsas şəkil et</a>
                    </div>
                    <div class="col-xl-3 col-4 mt-1">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h"
                             data-id="9">
                        <i class="fas fa-window-close fa-2x close-img"></i>
                        <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>

                    </div>

                </div>
            </div>
        </div>

        <!-- Phone carousel -->
        <div class="row my-2  d-lg-none">
            <div id="myCarousel" class="carousel slide w-100 " data-ride="carousel">
                <div class="carousel-inner">
                    <!-- Phone ucun olan
                        sliderde count kicikdirse
                        2 den sil  butonu gorsenmesin -->

                    <div class="item active">
                        <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" alt="Los Angeles" cla
                             style="width:100%; object-fit: cover ;height: 300px">
                        <a class="btn btn-danger col-12 bold close-phone-img">Sil</a>
                        <a href="#" class="btn btn-primary  Take-big-img col-12  bold">Əsas şəkil et</a>
                    </div>

                    <div class="item">
                        <img src="~/Images/News/download.jfif" alt="Los Angeles" cla
                             style="width:100%;object-fit: cover ;height: 300px">
                        <a class="btn btn-danger col-12  bold close-phone-img">Sil</a>
                        <a href="#" class="btn btn-primary  Take-big-img col-12  bold">Əsas şəkil et</a>
                    </div>

                    <div class="item">
                        <img src="~/Images/Agent/jobs_image.jpg" alt="Los Angeles" cla
                             style="width:100%; object-fit: cover ;height: 300px">
                        <a class="btn btn-danger col-12  bold close-phone-img">Sil</a>
                        <a href="#" class="btn btn-primary  Take-big-img col-12  bold">Əsas şəkil et</a>
                    </div>

                    <div class="item">
                        <img src="~/Images/Massive/24cc77f24fa7.jpg" alt="Los Angeles" cla
                             style="width:100%; object-fit: cover ;height: 300px">
                        <a class="btn btn-danger col-12 bold close-phone-img">Sil</a>
                        <a href="#" class="btn btn-primary  Take-big-img col-12  bold">Əsas şəkil et</a>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class=" div-click  text-center ">
                    <i class="fas fa-camera mr-2"></i>Şəkil əlavə edin
                    <input type="file" multiple class="d-none hidden-input form-control">
                </div>
                <div class="validation-error text-center word-break">
                    <i class="fas fa-exclamation-triangle mr-2"></i>Eror
                </div>
            </div>
        </div>

        <div class="row small-images-slider-a justify-content-center d-lg-none">
            <!-- if(count<21  col-3nen yiq) -->
            <!-- if(count>21 col-2) -->
            <div class="col-md-3 col-sm-6 col-8 mt-2 ">
                <img src="~/Images/Advertisement/billa_2rug7463563535.jpg"
                     class="img-fluid w-100 img-h position-relative" data-id="1">
                <i class="fas fa-window-close fa-2x close-img "></i>
                <a href="#" class="btn btn-primary btn-block Take-big-img ">Əsas şəkil et</a>

            </div>
            <div class="col-md-3 col-sm-6 col-8 mt-2">
                <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h" data-id="2">
                <i class="fas fa-window-close fa-2x close-img"></i>
                <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>

            </div>
            <div class="col-md-3 col-sm-6 col-8 mt-2">
                <img src="~/Images/Agent/jobs_image.jpg" class=" img-fluid w-100 img-h" data-id="10">
                <i class="fas fa-window-close fa-2x close-img"></i>
                <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>

            </div>
            <div class="col-md-3 col-sm-6 col-8 mt-2">
                <img src="~/Images/Advertisement/billa_2rug7463563535.jpg" class="img-fluid w-100 img-h" data-id="3">
                <i class="fas fa-window-close fa-2x close-img"></i>
                <a href="#" class="btn btn-primary btn-block Take-big-img">Əsas şəkil et</a>

            </div>

        </div>

        <div class="row justify-content-center">
            <h2>Satılır 4 otaqlı ev | villa 110 m<sup>2</sup>| Sulutəpə</h2>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 col-6">
                        <div class="Ad-Price text-center another-bg mt-1">
                            <i class="fas fa-crown text-warning"></i> Premium et
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="Ad-Price text-center another-bg mt-1">
                            <i class="fas fa-gem text-danger"></i> VİP et

                        </div>
                    </div>
                    <div class="col-md-4  col-12">
                        <div class="Ad-Price text-center price-bg my-1">
                            <input type="text" class="form-control" placeholder="Qiymət">
                        </div>
                        <div class="validation-error word-break text-center">
                            <i class="fas fa-exclamation-triangle mr-2"></i>Eror
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6 col-12">
                <h2>Əsas məlumatlar</h2>
                <div>
                    <div class="row">
                        <div class="col-12">
                            <textarea class="w-100"></textarea>
                            <div class=" validation-error text-center word-break">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Sehcdir
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 my-4">
                                Əmlakın növü
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 bold">
                                <Select class="form-control ">
                                    <option value="">Yeni tikili</option>
                                    <option value="">Köhnə tikili</option>
                                    <option value="">Villa</option>
                                    <option value="">Həyət evi</option>
                                </Select>
                            </div>
                            <div class=" validation-error text-center word-break">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Sehcdir
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3  my-4">
                                Sahə
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 bold">
                                <input type="text" class="form-control" placeholder="Sahə">
                            </div>
                            <div class="validation-error text-center word-break">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Sehcdir
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 my-4">
                                Otaqların sayı
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 bold">
                                <Select class="form-control ">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </Select>
                            </div>
                            <div class="validation-error text-center word-break">
                                <i class="fas fa-exclamation-triangle mr-2"></i> Sehcdir
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 my-4">
                                Mərtəbə sayı
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 bold">
                                <Select class="form-control ">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </Select>
                            </div>
                            <div class="validation-error text-center word-break">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Sehcdir
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 my-4">
                                Təmiri
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 bold">
                                <Select class="form-control ">
                                    <option value="">Ela təmirli</option>
                                    <option value="">Yaxşı təmirli</option>

                                </Select>
                            </div>
                            <div class="validation-error text-center word-break">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Sehcdir
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3  my-4">
                                Sənədin tipi
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="info p-3 bold">
                                <Select class="form-control ">
                                    <option value="">Kupça</option>
                                    <option value="">Kupçasız</option>
                                </Select>
                            </div>
                            <div class="validation-error text-center word-break">
                                <i class="fas fa-exclamation-triangle mr-2"></i>
                                Seaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaahcdir
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="info p-3  my-4">
                                Nömrə
                            </div>
                        </div>
                        <div class="col-md-8 col-12">
                            <div class="row mt-4">
                                <div class="col-4">
                                    <select class="form-control my-2 p-2">
                                        <option value="">+99451</option>
                                        <option value="">+99450</option>
                                        <option value="">+99470</option>
                                        <option value="">+99477</option>
                                        <option value="">+99455</option>
                                        <option value="">+99460</option>
                                        <option value="">+99440</option>
                                    </select>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control my-2 p-2" placeholder="Nömrə">
                                    <span class="validation-error my-2 p-2">
                                        <i class="fas fa-exclamation-triangle mr-2"></i>Eror
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <a href="MyProfile.html" class="agent-ad p-2 d-block mt-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="agent-img">
                                <img src="~/Images/Agent/jobs_image.jpg" class="img-fluid w-100" />
                            </div>
                        </div>
                        <div class="col-9">
                            <p>Araz emklak , <span class="ml-2">Sabuncu</span></p>
                            <p>+994513739277 <span class="ml-2">+994513739277</span></p>
                        </div>
                    </div>
                </a>
                <a href="MyProfile.html" class="user-ad p-2 d-block mt-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="agent-img">
                                <img src="~/Images/Agent/jobs_image.jpg" class="img-fluid w-100" />
                            </div>
                        </div>
                        <div class="col-9">
                            <p>Samir , <span class="ml-2">Bineqedi</span></p>
                            <p>+994513739277 <span class="ml-2">+994513739277</span></p>
                        </div>
                    </div>
                </a>
                <div>
                   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12157.71469426235!2d49.8539455!3d40.3771909!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2s!4v1566992963166!5m2!1sen!2s"
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="ovarlay-adress">
                    <p class="text-white">
                        <input type="text" class="form-control" placeholder="Ünvan">
                    </p>
                    <div class="validation-error text-center word-break">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                        Sehcdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaair
                    </div>
                </div>
            </div>
        </div>

        <!-- comment area -->
        <!-- <div class="all-comments">
             <div class="row Comment-area mt-2">
                 <span class="comment-img mx-2">
                     <img src="~/Images/Agent/jobs_image.jpg" alt="" class="img-fluid ">
                 </span>
                 <span class="comment-area  pl-2 position-relative"  data-id="1" >
                     AsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasas
                     AsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasas
                     AsasasAsasasAsasasAsasasAsasasAsasasAsasas
                     AsasasAsasasAsasasAsasasAsasasAsasasAsasas AsasasAsasasAsasasAsasasAsasasAsasasAsasas
                     <i class="fas fa-window-close fa-1x close-comment"></i>
                 </span>
             </div>

             <div class="row Comment-area mt-2">
                 <span class="comment-img mx-2">
                     <img src="~/Images/Agent/jobs_image.jpg" alt="" class="img-fluid ">
                 </span>
                 <span class="comment-area pl-2 position-relative"  data-id="2">
                     AsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasas
                     AsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasasAsasas
                     AsasasAsasasAsasasAsasasAsasasAsasasAsasas
                     AsasasAsasasAsasasAsasasAsasasAsasasAsasas AsasasAsasasAsasasAsasasAsasasAsasasAsasas
                     <i class="fas fa-window-close fa-1x close-comment"></i>
                 </span>
             </div>

             <div class="load-more  mt-3 col-7 ">
                 <a href="#" class="btn Btn-yellow  btn-block"> <i class="fas fa-plus"></i> Hamısına bax</a>
             </div>
         </div>

         <div class="row mt-2">
             <span class="comment-img mx-2">
                 <img src="~/Images/profile/empty-profile.png" alt="" class="img-fluid ">
             </span>
             <span class="area">
                 <textarea class="Area-text" placeholder="Rəy bildir..."> </textarea>
             </span>
         </div> -->

        <div class="row" id="input">
            <div class="col-12">
                <a href="#" class="btn btn-success btn-block my-2">Dəyiş</a>
            </div>
        </div>
    </div>
</section>


