@model  ViewModel
@{
    ViewData["Title"] = "Yarat";
}

<section id="createAdvertisement">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Elan yerləşdir</h4>
            </div>
        </div>

        <div class="row under-annouce ">
            <div class="col-12 validation-error">
                <i class="fas fa-exclamation-triangle mr-2"></i>
                Xahiw edirik duzgun deyerler daxil edesiniz
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group ">
                    <label for="">Elanın növü</label>
                    <select class="form-control annouce-type">
                        <option value="" data-id="1">Satılır</option>
                        <option value="" data-id="2">Kirayə</option>
                    </select>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 ">
                <div class="form-group">
                    <label for="">Əmlakın növü</label>
                    <select class="form-control mt-1 category">
                        <option data-id="0">Əmlakın növü</option>
                        <option data-id="1">Yeni tikili</option>
                        <option data-id="2">Köhnə tikili</option>
                        <option data-id="3">Villa</option>
                        <option data-id="4">Həyət evi</option>
                        <option data-id="5">Bağ evi</option>
                        <option data-id="6">Ofis</option>
                        <option data-id="7">Qaraj</option>
                        <option data-id="8">Torpaq</option>
                        <option data-id="9">Obyekt</option>

                    </select>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 Room-count ">
                <div class="form-group">
                    <label for="">Otaqların sayi</label>
                    <input  class="form-control" placeholder="Otaqların sayi">

                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12  wide ">
                <div class="form-group">
                    <label for="">Sahəsi (m <sup>2</sup>) (sot) ilə</label>
                    <input  class="form-control" placeholder="Sahəsi">
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 floor ">
                <div class="form-group">
                    <label for="">Yerləşdiyi mərtəbə</label>
                    <input type="text" class="form-control" placeholder="Yerləşdiyi mərtəbə">
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 floor-count  ">
                <div class="form-group">
                    <label for="">Mərtəbə sayı</label>
                    <input type="text" class="form-control" placeholder="Mərtəbə sayı">
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>


        </div>
        <div class="row ">
            <div class="col-md-6  col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Təmiri</label>
                            <select class="form-control">
                                <option value=""> Təmirsiz</option>
                                <option value="">Natama təmirli </option>
                                <option value="">Zəif təmirli </option>
                                <option value="">Orta təmirli </option>
                                <option value="">Yaxşı təmirli </option>
                                <option value="">Əla təmirli </option>
                            </select>
                            <span class="validation-error">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Error
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Sənədini tipi</label>
                            <select class="form-control">
                                <option value="">Çıxarış(Kupça)</option>
                                <option value="">Müqavilə</option>
                                <option value="">Sərəncam</option>
                                <option value="">Qeydiyyat vəsiqəsi</option>
                                <option value="">Şəhadətnamə</option>
                                <option value="">Bələdiyə sənədi</option>
                                <option value="">Digər sənəd</option>
                            </select>
                            <span class="validation-error">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Error
                            </span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="">Qiymət</label>
                                    <input type="text" class="form-control" placeholder="Qiymət">
                                    <span class="validation-error">
                                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group d-none under-annouce-type">
                                    <label for="">Aylıq </label>
                                    <select class="form-control">
                                        <option value="">Aylıq</option>
                                        <option value="">Günlük</option>
                                    </select>
                                    <span class="validation-error">
                                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  col-12">
                <div class="form-group">
                    <label for="">Əmlakın təsviri</label>
                    <textarea class="form-control" rows="10"></textarea>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-4">
                        <select class="form-control my-2 p-2">
                            <option value="">+99451</option>
                            <option value="">+99450</option>
                            <option value="">+99470</option>
                            <option value="">+99477</option>
                            <option value="">+99455</option>
                            <option value="">+99460</option>
                            <option value="">+99440</option>
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control my-2 p-2" placeholder="Nömrə">
                        <span class="validation-error my-2 p-2">
                            <i class="fas fa-exclamation-triangle mr-2"></i>Eror
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row  d-none plus-div">
                    <div class="col-4">
                        <div class="form-group">
                            <select class="form-control mt-2">
                                <option value="">+99451</option>
                                <option value="">+99450</option>
                                <option value="">+99470</option>
                                <option value="">+99477</option>
                                <option value="">+99455</option>
                                <option value="">+99460</option>
                                <option value="">+99440</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group position-relative">
                            <input type="text" class="form-control   mt-2" placeholder="Növbəti nömrə">
                            <span class="validation-error">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Error
                            </span>
                        </div>
                        <span class="ft-s-a"><i class="fas fa-window-close close-input"></i></span>

                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="add-phoneNumber Yellow-bg  mt-2  ">
                        <i class="fas fa-plus mr-3"></i>Əlavə nömrə
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 col-12">
                <div class="form-group ">
                    <label for="">Şəhər</label>
                    <select class="form-control City">
                        <option value="" data-id="1">Ağdam</option>
                        <option value="" data-id="2">Ağdaş</option>
                        <option value="" data-id="3">Agcabedi</option>
                        <option value="" data-id="4">Ağstafa</option>
                        <option value="" data-id="5">Ağsu</option>
                        <option value="" data-id="6">Astara</option>
                        <option value="" data-id="7">Babək</option>
                        <option value="" data-id="8">Bakı</option>
                        <option value="" data-id="9">Balakən</option>
                        <option value="" data-id="10">Bərdə</option>
                        <option value="" data-id="11">Beyləqan</option>
                        <option value="" data-id="12">Agcabedi</option>
                    </select>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 about-city d-none">
                <div class="form-group ">
                    <label for="">Rayon</label>
                    <select class="form-control ">
                        <option value="" data-id="1">Abşeron r.</option>
                        <option value="" data-id="2">Binəqədi r.</option>
                        <option value="" data-id="3">Nizami r.</option>
                        <option value="" data-id="4">Nərimanov r.</option>
                        <option value="" data-id="5">Nəsimi r.</option>
                        <option value="" data-id="6">Pirallahı</option>
                        <option value="" data-id="7">Qaradağ r.</option>
                        <option value="" data-id="8">Sabunçu r.</option>
                        <option value="" data-id="9">Suraxanı r.</option>
                        <option value="" data-id="10">Səbail r.</option>
                        <option value="" data-id="11">Xətai r.</option>
                        <option value="" data-id="12">Xəzər r.</option>
                        <option value="" data-id="13">Yasamal r.</option>

                    </select>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 about-city d-none">
                <div class="form-group ">
                    <label for="">Qəsəbə</label>
                    <select class="form-control ">
                        <option value="" data-id="1">1 mkr</option>
                        <option value="" data-id="2">2 mkr </option>
                        <option value="" data-id="3">20-ci sahə</option>
                        <option value="" data-id="4">28 May</option>
                        <option value="" data-id="5">3 mkr</option>
                        <option value="" data-id="6">4 mkr</option>
                        <option value="" data-id="7">5 mkr</option>
                        <option value="" data-id="8">6 mkr</option>
                        <option value="" data-id="9">7 mkr</option>
                        <option value="" data-id="10">8 mkr</option>
                        <option value="" data-id="11">9 mkr</option>
                        <option value="" data-id="12">Ağ şəhər</option>
                        <option value="" data-id="13">Alatava 1</option>
                        <option value="" data-id="13">Alatava 2</option>
                        <option value="" data-id="13">Albalı</option>
                        <option value="" data-id="13">Altaylı</option>
                        <option value="" data-id="13">Badamdar</option>
                        <option value="" data-id="13">Bahar</option>
                        <option value="" data-id="13">Bakixanov</option>
                        <option value="" data-id="13">Balaxnı</option>
                        <option value="" data-id="13">Bayıl</option>
                        <option value="" data-id="13">Bibiheybət</option>
                        <option value="" data-id="13">Alvalı</option>
                    </select>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 about-city d-none">
                <div class="form-group ">
                    <label for="">Metro</label>
                    <select class="form-control ">
                        <option value="" data-id="1">20 yanvar m.</option>
                        <option value="" data-id="2">28 may m. </option>
                        <option value="" data-id="2">28 may m. </option>
                        <option value="" data-id="2">28 may m. </option>
                        <option value="" data-id="2">28 may m. </option>

                    </select>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label for="">Ünvan</label>
                    <input type="text" class="form-control" placeholder="Ünvan">
                    <span class="validation-error">
                        <i class="fas fa-exclamation-triangle mr-2"></i>Error
                    </span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="Imgae-ad-download text-center btn btn-block my-2 orange">
                    <i class="fas fa-upload mr-3"></i> Şəkil yüklə
                    <input type="file" hidden class="img-ad-advertisement-down" multiple>
                </div>
            </div>
        </div>

        <div class="row Imgae-ad-download-area justify-content-center">
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" class=" btn-block green-bg btn   my-2" value="Elanı yarat">
            </div>
        </div>
    </div>
</section>
