@{
    ViewData["Title"] = "Elanlar";
}

<!-- Advertisement start -->
<section id="advertisement">
    <div class="container">
        <div class="row head justify-content-center">
            <div class="col-md-8 col-12 ">
                Bütün elanlar
                <!-- Premium elanlar
                        Son elanlar
                        Yeni tikililər
                        Köhnə tikililər
                        Həyəyt evi
                        Villa
                        Bağ evi
                        Ofis
                        Qaraj
                        Torpaq
                        Obyekt   -->

            </div>
            <div class="col-md-4 col-12  d-md-flex justify-content-end">
                <span class="ml-3 search-category">
                    Kirayə
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    Satilır
                </span>
            </div>
        </div>
        <div class="row Advertisement-place justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                <i class="fas fa-heart heart fa-2x d-none"></i>
                <i class="far fa-heart heart fa-2x"></i>
                <a asp-controller="Elan" asp-action="Haqqında">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                <img src="~/images/Massive/project189_353.jpg" class="img-fluid w-100">

                                <div class="Rent">Kirayə</div>
                                <div class="Sell">Satış</div>
                                <div class="Price">10000000Azn</div>
                                <i class="fas fa-camera-retro camera fa-2x"> 3</i>
                                <i class="fas fa-file-signature document fa-1x"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-advertisement">
                                <div class="location">
                                    <div class="col-12 p-0">
                                        <i class="fas fa-map-marker-alt"></i> Nəsimi r.
                                    </div>
                                </div>
                                <div class="detail">
                                    <span>3 otaqlı </span> |
                                    <span> 140 m<sup>2</sup> </span> |
                                    <span> 14/18 m</span>
                                </div>
                                <div class="date">
                                    <span>Bakı,</span>
                                    <span>bu gun 12:30</span>
                                </div>
                                <i class="fas fa-gem gem"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                <i class="fas fa-heart heart fa-2x d-none"></i>
                <i class="far fa-heart heart fa-2x"></i>
                <a asp-controller="Elan" asp-action="Haqqında">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                <img src="~/images/Massive/project189_353.jpg" class="img-fluid w-100">

                                <div class="Rent">Kirayə</div>
                                <div class="Sell">Satış</div>
                                <div class="Price">10000000Azn</div>
                                <i class="fas fa-camera-retro camera fa-2x"> 3</i>
                                <i class="fas fa-file-signature document fa-1x"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-advertisement">
                                <div class="location">
                                    <div class="col-12 p-0">
                                        <i class="fas fa-map-marker-alt"></i> Nəsimi r.
                                    </div>
                                </div>
                                <div class="detail">
                                    <span>3 otaqlı </span> |
                                    <span> 140 m<sup>2</sup> </span> |
                                    <span> 14/18 m</span>
                                </div>
                                <div class="date">
                                    <span>Bakı,</span>
                                    <span>bu gun 12:30</span>
                                </div>
                                <i class="fas fa-gem gem"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                <i class="fas fa-heart heart fa-2x d-none"></i>
                <i class="far fa-heart heart fa-2x"></i>
                <a asp-controller="Elan" asp-action="Haqqında">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                <img src="~/images/Massive/project189_353.jpg" class="img-fluid w-100">

                                <div class="Rent">Kirayə</div>
                                <div class="Sell">Satış</div>
                                <div class="Price">10000000Azn</div>
                                <i class="fas fa-camera-retro camera fa-2x"> 3</i>
                                <i class="fas fa-file-signature document fa-1x"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-advertisement">
                                <div class="location">
                                    <div class="col-12 p-0">
                                        <i class="fas fa-map-marker-alt"></i> Nəsimi r.
                                    </div>
                                </div>
                                <div class="detail">
                                    <span>3 otaqlı </span> |
                                    <span> 140 m<sup>2</sup> </span> |
                                    <span> 14/18 m</span>
                                </div>
                                <div class="date">
                                    <span>Bakı,</span>
                                    <span>bu gun 12:30</span>
                                </div>
                                <i class="fas fa-gem gem"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                <i class="fas fa-heart heart fa-2x d-none"></i>
                <i class="far fa-heart heart fa-2x"></i>
                <a asp-controller="Elan" asp-action="Haqqında">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                <img src="~/images/Massive/project189_353.jpg" class="img-fluid w-100">

                                <div class="Rent">Kirayə</div>
                                <div class="Sell">Satış</div>
                                <div class="Price">10000000Azn</div>
                                <i class="fas fa-camera-retro camera fa-2x"> 3</i>
                                <i class="fas fa-file-signature document fa-1x"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-advertisement">
                                <div class="location">
                                    <div class="col-12 p-0">
                                        <i class="fas fa-map-marker-alt"></i> Nəsimi r.
                                    </div>
                                </div>
                                <div class="detail">
                                    <span>3 otaqlı </span> |
                                    <span> 140 m<sup>2</sup> </span> |
                                    <span> 14/18 m</span>
                                </div>
                                <div class="date">
                                    <span>Bakı,</span>
                                    <span>bu gun 12:30</span>
                                </div>
                                <i class="fas fa-gem gem"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                <i class="fas fa-heart heart fa-2x d-none"></i>
                <i class="far fa-heart heart fa-2x"></i>
                <a href="AdvertisementDetails.html">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                 <img src="~/images/Massive/project189_353.jpg" class="img-fluid w-100">

                                <div class="Rent">Kirayə</div>
                                <div class="Sell">Satış</div>
                                <div class="Price">10000000Azn</div>
                                <i class="fas fa-camera-retro camera fa-2x"> 3</i>
                                <i class="fas fa-file-signature document fa-1x"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-advertisement">
                                <div class="location">
                                    <div class="col-12 p-0">
                                        <i class="fas fa-map-marker-alt"></i> Nəsimi r.
                                    </div>
                                </div>
                                <div class="detail">
                                    <span>3 otaqlı </span> |
                                    <span> 140 m<sup>2</sup> </span> |
                                    <span> 14/18 m</span>
                                </div>
                                <div class="date">
                                    <span>Bakı,</span>
                                    <span>bu gun 12:30</span>
                                </div>
                                <i class="fas fa-gem gem"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                <i class="fas fa-heart heart fa-2x d-none"></i>
                <i class="far fa-heart heart fa-2x"></i>
                <a href="AdvertisementDetails.html">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                 <img src="~/images/Massive/project189_353.jpg" class="img-fluid w-100">

                                <div class="Rent">Kirayə</div>
                                <div class="Sell">Satış</div>
                                <div class="Price">10000000Azn</div>
                                <i class="fas fa-camera-retro camera fa-2x"> 3</i>
                                <i class="fas fa-file-signature document fa-1x"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-advertisement">
                                <div class="location">
                                    <div class="col-12 p-0">
                                        <i class="fas fa-map-marker-alt"></i> Nəsimi r.
                                    </div>
                                </div>
                                <div class="detail">
                                    <span>3 otaqlı </span> |
                                    <span> 140 m<sup>2</sup> </span> |
                                    <span> 14/18 m</span>
                                </div>
                                <div class="date">
                                    <span>Bakı,</span>
                                    <span>bu gun 12:30</span>
                                </div>
                                <i class="fas fa-gem gem"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                <i class="fas fa-heart heart fa-2x d-none"></i>
                <i class="far fa-heart heart fa-2x"></i>
                <a href="AdvertisementDetails.html">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                 <img src="~/images/Massive/project189_353.jpg" class="img-fluid w-100">

                                <div class="Rent">Kirayə</div>
                                <div class="Sell">Satış</div>
                                <div class="Price">10000000Azn</div>
                                <i class="fas fa-camera-retro camera fa-2x"> 3</i>
                                <i class="fas fa-file-signature document fa-1x"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-advertisement">
                                <div class="location">
                                    <div class="col-12 p-0">
                                        <i class="fas fa-map-marker-alt"></i> Nəsimi r.
                                    </div>
                                </div>
                                <div class="detail">
                                    <span>3 otaqlı </span> |
                                    <span> 140 m<sup>2</sup> </span> |
                                    <span> 14/18 m</span>
                                </div>
                                <div class="date">
                                    <span>Bakı,</span>
                                    <span>bu gun 12:30</span>
                                </div>
                                <i class="fas fa-gem gem"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                <i class="fas fa-heart heart fa-2x d-none"></i>
                <i class="far fa-heart heart fa-2x"></i>
                <a href="AdvertisementDetails.html">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                 <img src="~/images/Massive/project189_353.jpg" class="img-fluid w-100">

                                <div class="Rent">Kirayə</div>
                                <div class="Sell">Satış</div>
                                <div class="Price">10000000Azn</div>
                                <i class="fas fa-camera-retro camera fa-2x"> 3</i>
                                <i class="fas fa-file-signature document fa-1x"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-advertisement">
                                <div class="location">
                                    <div class="col-12 p-0">
                                        <i class="fas fa-map-marker-alt"></i> Nəsimi r.
                                    </div>
                                </div>
                                <div class="detail">
                                    <span>3 otaqlı </span> |
                                    <span> 140 m<sup>2</sup> </span> |
                                    <span> 14/18 m</span>
                                </div>
                                <div class="date">
                                    <span>Bakı,</span>
                                    <span>bu gun 12:30</span>
                                </div>
                                <i class="fas fa-gem gem"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="load-more  mt-3 col-md-4 col-6">
                <a href="#" class="btn Btn-yellow  btn-block">
                    <i class="fas fa-plus"></i> Daha
                    çox
                </a>
            </div>
        </div>
    </div>
</section>
<!--  Advertisement end -->
