
@{
    ViewData["Title"] = "Haqqımızda";
}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center py-3">Haqqımızda</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <p>
                    2012-ci ildən fəaliyyət göstərən <span class="text-primary"> Evimiz.az</span> saytı Azərbaycanda əmlakın alqı-satqısı portalıdır.
                    Günü-gündən inkişaf edən saytımızın gün ərzində minlərlə istifadəçisi olur. Portal olaraq daim
                    inkişaf etmək əzmindəyik və bu səbəbdəndir ki saytımızın dizaynı, funksionallığı və
                    qayda-qanunları yenilənir. Bu dəyişikliklərin hamısı saytımıza elan verən və saytımızda axtarış
                    edən istifadəçilərin rahatlığı üçündür. Portal olaraq istifadəçilərimizin irad və təkliflərini
                    diqqətlə dinləyir onları qeyd edir və növbəti dəyişikliklərimizdə uyğun gələnlərini tətbiq
                    edirik. Buda saytımızın dahada istifadəyə yararlı olmasına gətirib çıxardır..
                </p>
            </div>
            <div class="col-md-6 col-12">
                <div class="about-img p-2">
                     <img src="~/Images/TipsforHomeSellersinSiliconValley_090212122633.png" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </div>
</section>
