@model IEnumerable<İstifadəçi>
@{
    ViewData["Title"] = "Əmlakçılar";
}

<!-- Agent start -->
<section id="Agent">
    <div class="container">
        <div class="row head">
            <div class="col-md-8 col-12 ">
                <i class="far fa-handshake mr-2 color-blue"></i> Agent
            </div>
            <div class="col-md-4 col-12  d-md-flex justify-content-end">
            </div>
        </div>
        <div class="row  Advertisement-place">
            @foreach (var item in Model)
            {
                <a asp-controller="Əmlakçılar" asp-action="Profilim" class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                <img src="~/images/Agent/@item.AgencyImageUrl" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-agent">
                                <h3>@item.Firstname emlak</h3>
                                <span><i class="fas fa-map-marker-alt"></i> @item.Region.Name </span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="row  Advertisement-place justify-content-center ">
            <div class="load-more  mt-3 col-md-4 col-6" data-aos="fade-left">
                <a href="#" class="btn Btn-yellow  btn-block">
                    <i class="fas fa-plus"></i> Daha
                    çox
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Agent end -->


