@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Əmlakçılar";
}

<!-- Agent start -->
<section id="Agent">
    <div class="container">
        <div class="row head">
            <div class="col-md-8 col-12 ">
                <i class="far fa-handshake mr-2 color-blue"></i> Agent
            </div>
            <div class="col-md-4 col-12  d-md-flex justify-content-end">
            </div>
        </div>
        <div class="row  Advertisement-place">
            @foreach (var item in Model)
            {
                <a asp-controller="Əmlakçılar" asp-action="Profilim" asp-route-id="@item.Id" class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3" data-aos="fade-up">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="img">
                                @if (item.AgencyImageUrl == null)
                                {
                                    <img src="~/images/Agent/default-logo.png" class="img-fluid w-100">
                                }
                                else
                                {
                                    <img src="~/images/Agent/@item.AgencyImageUrl" class="img-fluid w-100">
                                }
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="about-agent">
                                <h6>@item. emlak</h6>
                                <span><i class="fas fa-map-marker-alt"></i> @item.Region.Name</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>
<!-- Agent end -->


